@media (max-width: 480px) {
  .task-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .task-actions {
    margin-top: 10px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background: #f4f6f8;
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-direction: column;
}
.page {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  color: #333;
}

header p {
  color: #777;
  font-size: 14px;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-form input,
.task-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.task-form textarea {
  resize: none;
  height: 70px;
}

.task-form button {
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #4338ca;
}

.filters {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.filters button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb;
  cursor: pointer;
}

.filters .active {
  background: #4f46e5;
  color: white;
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task-info h3 {
  font-size: 16px;
  color: #111;
}

.task-info p {
  font-size: 13px;
  color: #555;
}

.task-info span {
  font-size: 12px;
  color: #888;
}

.task-actions button {
  border: none;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 5px;
}

.task-actions .done {
  background: #22c55e;
}

.task-actions .delete {
  background: #ef4444;
  color: white;
}

.footer {
  width: 100%;
  margin-top: 40px;
  padding-top: 20px 0;
  border-top: 1px solid #e5e7eb;
  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

.footer p {
  margin: 4px 0;
}

.sub {
  font-size: 12px;
  color: #9ca3af;
}
